html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(210, 198, 198);
    background: rgb(33, 33, 33);
  }

  .card {
    background-color: rgb(50, 50, 50);
    width: 20rem;
    height: 20rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .card:hover {
    background-color: rgb(65, 55, 55);
  }

  .voting-pane {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
  }
}
